{% include 'layout.html' %}

<div class="container">
    <div class="card">
        <div class="card-header">
            Let's edit your todo!
        </div>
        <div class="card-body">
            <form>
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control" name="title" value="{{todo.title}}" required>
                </div> 
                <div class="from-group">
                    <label>Description</label>
                    <textarea name="description" class="form-control" rows="3" required>
                        {{todo.description}}
                    </textarea>
                </div>
                <div class="form-group">
                    <label>Priority</label>
                    <select name="Priority" class="form-control">
                        <option { if todo.priority == 1 %} selected="selected" {% end if %}>1</option>
                        <option { if todo.priority == 2 %} selected="selected" {% end if %}>2</option>
                        <option { if todo.priority == 3 %} selected="selected" {% end if %}>3</option>
                        <option { if todo.priority == 4 %} selected="selected" {% end if %}>4</option>
                        <option { if todo.priority == 5 %} selected="selected" {% end if %}>5</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Edit your todo</button>
                <button type="button" class="btn btn-danger">Delete</button>
            </form>
        </div>
    </div>
</div>


